/Versions/*
/Data/*
/Archive/*
/Output/*
CFshape.csv
r.csv
/__pycache__/*
/Paper/*.aux
/Paper/*.fdb_latexmk
/Paper/*.fls
/Paper/*.log
/Paper/*.soc
/Paper/tex/*.aux
/Paper/tex/*.fdb_latexmk
/Paper/tex/*.fls
/Paper/tex/*.log
/Paper/tex/*.soc